
 @font-face {
    font-family: 'cafe24';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:block;
  }
    @font-face {
    font-family: 'jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:block;
  }
  @font-face {
    font-family: 'Jeju';
    src: url('./assets/fonts/JejuGothic.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:block;
  }
  @font-face {
    font-family: 'nixgon';
    src : url("./assets/fonts/NIXGONFONTS_L.otf") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display:block;
  }
  @font-face {
    font-family: 'nixgon';
    src: url("./assets/fonts/NIXGONFONTS_M.otf") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:block;
  }
  @font-face {
    font-family: 'tway';
    src: url("./assets/fonts/tway_sky.ttf") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:block;
  }